<header>
  <div class="row">
    <div class="col">
      <button (click)="atualizar()" type="button" class="btn btn-outline-primary">Atualizar</button>
    </div>
    <div class="col text-end">
      <button routerLink="/especialidadeForm" type="button" class="btn btn-primary">Adicionar especialidade</button>
    </div>
  </div>
</header>

<section>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Especialidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let esp of especialidades">
        <td>{{ esp.id }}</td>
        <td>{{ esp.nome }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="atualizandoLista">
    Buscando dados...
  </p>
  <p *ngIf="especialidades.length == 0 && !atualizandoLista">
    Ainda não há especialidades cadastradas!
  </p>

</section>

<ng-template #semdados>
</ng-template>
