<header>
  <div class="row">
    <div class="col">
      <button (click)="atualizar()" type="button" class="btn btn-outline-primary">Atualizar</button>
    </div>
    <div class="col text-end">
      <button routerLink="/especialidadeForm" type="button" class="btn btn-primary">N</button>
    </div>
  </div>
</header>

<section>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Especialidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let esp of especialidades">
        <td>{{ esp.id }}</td>
        <td>{{ esp.nome }}</td>
        <td>
          <div class="linha-acoes text-end">
            <button routerLink="/especialidadeForm/{{ esp.id }}" class="btn btn-sm btn-outline-primary" type="button">Editar</button>
            <button (click)="remover(esp.id!)" class="btn btn-sm btn-outline-danger" type="button">Remover</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="atualizandoLista">
    Buscando dados...
  </p>
  <p *ngIf="especialidades.length == 0 && !atualizandoLista">
    Ainda não há especialidades cadastradas!
  </p>

</section>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
