<header>
  <div class="row">
    <div class="col">
      <button (click)="atualizar()" type="button" class="btn btn-outline-primary">Atualizar</button>
    </div>
    <div class="col text-end">
      <button routerLink="/especialidadeForm" type="button" class="btn btn-primary">Novo</button>
    </div>
  </div>
</header>

<section>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Especialidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let esp of entidades">
        <td>{{ esp.id }}</td>
        <td>{{ esp.nome }}</td>
        <td>
          <div class="linha-acoes text-end">
            <button routerLink="/especialidadeForm/{{ esp.id }}" class="btn btn-sm btn-outline-primary" type="button">Editar</button>
            <button (click)="remover(esp.id!)" class="btn btn-sm btn-outline-danger" type="button">Remover</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="atualizandoLista">
    Buscando dados...
  </p>
  <p *ngIf="entidades.length == 0 && !atualizandoLista">
    Ainda não há especialidades cadastradas!
  </p>

</section>
