/* You can add global styles to this file, and also import other style files */
html, body{
  height: 100%!important;
}

/* LISTA */
.linha-acoes .btn{
  opacity: .3;
  margin-left: 8px;
}
tr:hover .linha-acoes .btn{
  opacity: 1;
}
