<div class="row justify-content-center">
  <div class="col-md-6">
    <a routerLink="/area/associado" class="area area-associado">
      <i class="icone bi-people-fill"></i>
      <p class="rotulo">
        <span class="prefixo">Área do</span>Associado
      </p>
    </a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <a routerLink="/area/funcionario" class="area area-funcionario">
      <i class="icone bi-briefcase-fill"></i>
      <p class="rotulo">
        <span class="prefixo">Área do</span>Funcionários
      </p>
    </a>
  </div>
  <div class="col">
    <!-- routerLink="/area/prestador"  -->
    <a
      class="area area-prestador dev">
      <i class="icone bi-heart-pulse"></i>
      <p class="rotulo">
        <span class="prefixo">Área do</span>Prestador
        <span class="dev">
          (em desenvolvimento)
        </span>
      </p>
    </a>
  </div>
  <div class="col">
    <!-- routerLink="/area/conveniado"  -->
    <a
    class="area area-conveniado dev">
      <i class="icone bi-hospital-fill"></i>
      <p class="rotulo">
        <span class="prefixo">Área do</span>Conveniado
        <span class="dev">
          (em desenvolvimento)
        </span>
      </p>
    </a>
  </div>

</div>
