<div class="row justify-content-center">
  <div class="col-md-6">
    <a routerLink="/area/associado" class="area area-associado">
      <i class="icone bi-people-fill"></i>
      <p class="rotulo">
        <span class="prefixo">Área do</span>Associado
      </p>
    </a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <a routerLink="/area/funcionario" class="area area-funcionario">
      <i class="icone bi-briefcase-fill"></i>
      <p class="rotulo">
        <span class="prefixo">Área do</span>Funcionários
      </p>
    </a>
  </div>
  <div class="col">
    <a routerLink="/area/prestador" class="area area-prestador">
      <i class="icone bi-heart-pulse"></i>
      <p class="rotulo">
        <span class="prefixo">Área do</span>Prestador
      </p>
    </a>
  </div>
  <div class="col">
    <a routerLink="/area/conveniado" class="area area-conveniado">
      <i class="icone bi-hospital-fill"></i>
      <p class="rotulo">
        <span class="prefixo">Área do</span>Conveniado
      </p>
    </a>
  </div>

</div>
