<header>
  <div class="row">
    <div class="col">
      <button (click)="atualizar()" type="button" class="btn btn-outline-primary">Atualizar</button>
    </div>
    <div class="col text-end">
      <button routerLink="/exameForm" type="button" class="btn btn-primary">Novo</button>
    </div>
  </div>
</header>

<section>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Tipo exame</th>
        <th scope="col">Dia</th>
        <th scope="col">Hora</th>
        <th scope="col">Situação</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exame of entidades">
        <td>{{ exame.tipoExameNome }}</td>
        <td>{{ exame.inicio | date}}</td>
        <td>{{ exame.inicio | date:'shortTime'}}</td>
        <td> {{ situacoesExames[exame?.situacao ?? 0] }} </td>
        <td>
          <div class="linha-acoes text-end" *ngIf="exame.situacao === 0">
            <button routerLink="/exameForm/{{ exame.id }}" class="btn btn-sm btn-outline-primary" type="button">Editar</button>
            <button (click)="remover(exame.id!)" class="btn btn-sm btn-outline-danger" type="button">Remover</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="atualizandoLista">
    Buscando dados...
  </p>
  <p *ngIf="entidades.length == 0 && !atualizandoLista">
    Não há exames cadastrados!
  </p>

</section>
